.carousel {
    position: relative;
    @media only screen and (max-width: 1023px) {
        .next-button-light, .previous-button-light {
            display: none;
        }
    }
    ul {
	   padding: 0;
    	li {
    		position: relative;
        	text-align: center;
        	@media only screen and (max-width: 1023px) {
    	    	height: 298px;
    	    	width: auto;
    	   	}

    		img {
    			width: 100%;
    			@media only screen and (max-width: 1023px) {
    	    	height: 298px;
    	    	}
    		}
    	}
    }
}

@media only screen and (max-width: 1023px) {
	.carousel {
		margin-bottom: 40px;
	}
}

.slide-show-initial, .image-slide-show-initial {
	display:none;
	opacity: 0;
}

.slide-show-active {
	display: block;
	visibility: visible;
    opacity: 1;
    animation: fade 2s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.next-button {
    float: left;
    padding-left: 30px;
    cursor: pointer;
}

.previous-button {
	float: left;
    padding-right: 30px;	
    cursor: pointer;
}

.next-button-light {
    color: $primary-font-color;
    cursor: pointer;
    position: absolute;
    top: 40%;
    font-size: 5rem;
    right: 9px;
}

.previous-button-light {
	color: $primary-font-color;
    cursor: pointer;
    position: absolute;
    top: 40%;
    font-size: 5rem;
    left: 9px;
    text-align: right;
}