footer {
	background-color: $secondary-background-color;
	color: $primary-font-color;
	width: 100%;
	
	border-top: 3px solid #8A8A8A;

	p {
		display: none;
	}

	.footer-links {
		text-align: right;
		padding: 40px 0 40px 0;
		margin: 0 40px 0 0;
		a {
			@include a-link-styles($primary-font-color, $a-link-text-decoration-none, 2rem, $font-weight-bold);
			margin: 0 0 0 64px;
		}
	}

	@media only screen and (max-width: 1023px) {
		p {
			margin: 0;
			padding: 24px 0;
			text-align: center;
			padding: 40px 0 40px 0;
			font-size: 1.4rem;
			display: block;
		}

		.footer-links {
			display: none;
		}
	}
}