/*-----DEFUALT PAGE STYLE VALUES, ANY STYLE SHEET CAN IMPORT MIXINS AND HAVE THEIR OWN DEFAULT STYLES, IF NOT CAN USE THESE-----*/
@import "default-styles";
@import "button-and-link-mixin";
@import "mobile-nav";
@import "main-nav";
@import "carousel";
@import "main-content";
@import "image-description";

html, body {
	font-family: $font-family;
	font-size: 62.5%;
	color: $primary-font-color;
	margin: 0;
}

.display-flex {
	display: flex;
}

section {
	display: block;
}

.wrapper {
	//display: flex;
	overflow: hidden;
	max-width: 1440px;
	margin: 0 auto;
}

header {
	height: 40px;
}

.comments-container {
	position: relative;
	color: $primary-font-color;
	width: 50%;
	font-size: 2.4rem;
	margin-left: 17px;
	@media only screen and (max-width: 1024px) {
		display: none;
	}
	.comments-box {
		background-color: $green-background-color;
		height: 178px;
		list-style-type: none;
		margin: 56px 0 0px 0;
		li {
			font-size: 2.4rem;
			padding-top: 40px;
		}
	}

	.carousel-buttons {
		color: $secondary-font-color;
		float: left;
    	font-size: 4rem;
	}

	.selected-commenters-info {
		color: $secondary-font-color;
		float: right;
		margin-top: 10px;
	}

	.comment-icon {
		color: $secondary-font-color;
    	position: absolute;
    	top: 37px;
    	right: -12px;
	}
}

.apply-button {
	background-color: #8AB679;
	width: 15%;
    height: 40px;
	border: none;
	float: right;
	color: $primary-font-color;
	font-size: 1.4rem;
	font-weight: $font-weight-bold;
	cursor: pointer;
	@media only screen and (max-width: 1023px) {
		width: 135px;
    	height: 55px;
    }
}

.free-advise {
	background-color: $orange-background-color;
	padding: 0px 9%;
	height: 104px;

	p {
		color: $primary-font-color;
		font-size: 2.4rem;
		font-weight: $font-weight-bold;
		text-align: center;
		padding: 39px 0 24px 0;
    	margin: 0;
    	float: left;
    	@media only screen and (max-width: 1023px) {
	    	padding: 24px 0;
	    }
	}

	button {
		@include button-styles($button-background-color-transparent, $button-font-size-big, $button-border, $button-border-radius, $button-font-color, $button-width-medium);
    	padding: 10px 0;
    	margin: 24px 0 24px 0;
    	float: right;
	}
}

@media only screen and (max-width: 1023px) {
	.free-advise {
		height: auto;
		p {
			float: none;
			text-align: left;
		}
		button {
	    	width: 100%;
	    	float: none;
	    	margin: 0 0 40px 0;
		}
	}
}

.box-model {
	background-color: #222222;
	padding: 0px 50px;

	p {
		color: $primary-font-color;
		font-size: 3.2rem;
		font-weight: $font-weight-bold;
		text-align: center;
		padding: 212px 0 24px 0;
    	margin: 0;
	}

	button {
		@include button-styles($button-background-color-transparent, $button-font-size-big, $button-border, $button-border-radius, $button-font-color, $button-width-big);
    	padding: 10px 0;
    	margin: 0 0 205px 0;
    	left: 38%;
    	position: relative;
	}
	
}

@media only screen and (max-width: 1023px) {
	.box-model {
		height: auto;
		p {
			padding: 24px 0;
		}
		button {
	    	width: 100%;
	    	float: none;
	    	margin: 0 0 40px 0;
	    	left: 0;
		}
	}
}

@import "footer";