
@import "default-styles";
@import "button-and-link-styles";
@import "mobile-nav";

html, body {
	font-family: $font-family;
	font-size: 62.5%;
	height: 100%;
	margin: 0 auto;
	color: $primary-font-color;
	max-width: 1440px;
}

.wrapper {
	display: flex;
	overflow: hidden;
}

.carousel ul {
	padding: 0;
	li {
		position: relative;
    	text-align: center;
    	@media only screen and (max-width: 1023px) {
	    	height: 298px;
	    	width: auto;
	   	}

		img {
			width: 100%;
			@media only screen and (max-width: 1023px) {
	    	height: 298px;
	    	}
		}
	}
} 

@media only screen and (max-width: 1023px) {
	.carousel {
		margin-bottom: 40px;
	}
}

.slide-show-initial, .image-slide-show-initial {
	display:none;
	opacity: 0;
}

.slide-show-active {
	display: block;
	visibility: visible;
    opacity: 1;
    animation: fade 2s;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.next-button {
    float: left;
    padding-left: 30px;
    cursor: pointer;
}

.previous-button {
	float: left;
    padding-right: 30px;	
    cursor: pointer;
}

.next-button-light {
    color: $primary-font-color;
    cursor: pointer;
    position: absolute;
    top: 40%;
    font-size: 5rem;
    right: 9px;
}

.previous-button-light {
	color: $primary-font-color;
    cursor: pointer;
    position: absolute;
    top: 40%;
    font-size: 5rem;
    left: 9px;
    text-align: right;
}

header {
	height: 40px;
}

.main-nav-container {
	height: 39px;
	margin: 27px 0 24px 0;
}

.main-content-width {
	min-width: 360px;
}

@media only screen and (max-width: 1023px) {
	.main-content .main-nav-container {
		display: none;
	}
}

.main-nav {
	display: flex;
	float: right;
	li {
		background-color: #1F272A;
		width: 228px;
		height: 39px;
		align-items: center;
	    display: flex;
	    margin-left: 2px;
	    justify-content: center;

		a {
			@include a-link-styles($primary-font-color, $a-link-text-decoration-none, 1.4rem, $font-weight-bold);
		}
	} 
}

.carousel {
	position: relative;

	@media only screen and (max-width: 1023px) {
		.next-button-light, .previous-button-light {
			display: none;
		}
	}
}

.image-description {
	position: absolute;
    top: 33%;
    left: 8%;
    text-align: left;

    @media only screen and (max-width: 1023px) {
		width: 80%;
	}

	.description-header {
	    font-size: 3.6rem;
	    color: $primary-font-color;
	    padding: 0;
	    margin: 0;
	    @media only screen and (max-width: 1023px) {
	    	font-size: 2.4rem;
	    }
	}
	.description-content {
		font-size: 1.6rem;
    	color: $primary-font-color;
    	margin: 5px 0 18px 0;
	}

	button {
		background-color: #F58E5B;
	    font-size: 2.4rem;
	    color: #FFFFFF;
	    border: none;
	    padding: 15px 35px 15px 35px;
	    @media only screen and (max-width: 1023px) {
	    	font-size: 1.6rem;
	    	padding: 7px 20px 7px 20px;
	    	margin: 20px 0 0 53px;
	    }
	}
}

.comments-container {
	position: relative;
	color: $primary-font-color;
	width: 50%;
	font-size: 2.4rem;
	margin-left: 17px;

	.comments-box {
		background-color: $green-background-color;
		height: 178px;
		list-style-type: none;
		margin: 56px 0 0px 0;
		li {
			font-size: 2.4rem;
			padding-top: 40px;
		}
	}

	.carousel-buttons {
		color: $secondary-font-color;
		float: left;
    	font-size: 4rem;
	}

	.selected-commenters-info {
		color: $secondary-font-color;
		float: right;
		margin-top: 10px;
	}

	.comment-icon {
		color: $secondary-font-color;
    	position: absolute;
    	top: 37px;
    	right: -12px;
	}
}

@media only screen and (max-width: 1023px) {
	.comments-container {
		display: none;
	}
}

.apply-button {
	background-color: #8AB679;
	width: 15%;
    height: 40px;
	border: none;
	float: right;
	color: $primary-font-color;
	font-size: 1.4rem;
	font-weight: $font-weight-bold;
}

@media only screen and (max-width: 1023px) {
	.apply-button {
		width: 43%;
    	height: 55px;
	}
}

.main {
	display: flex;
	color: $secondary-font-color;
	font-weight: $font-weight-bold;
	padding: 0 9%;
	margin: 0 0 100px 0;

	@media only screen and (max-width: 1023px) {
		margin: 0 0 43px 0;
	}

	.content-container {
		width: 50%;
		@media only screen and (max-width: 1023px) {
			width: 100%;
		}
	}

	.content-header {
		font-size: 2rem;
		border-bottom: 1px dotted #C4C4C4;

		.content-light-border-bottom {
			font-size: 1.4rem;
			font-weight: normal;
			color: #C0C0C0;
			padding: 0 32px 0 0;
		}
	}

	.content {
		font-size: 1.4rem;
		font-weight: normal;
	}

	.link-container {
		display: flex;
		justify-content: space-around;

		ul {
			list-style-type: none;
			padding: 0;

			li {
				font-size: 1.2rem;
				a {
					@include a-link-styles($secondary-font-color, $a-link-text-decoration-none, 2rem, $font-weight-bold);
				    padding-left: 10px;

				    @media only screen and (max-width: 1023px) {
				    	font-size: 1.6rem;
				    }
				}
			}
		}
	}
}

.free-advise {
	background-color: $orange-background-color;
	padding: 0px 9%;
	height: 104px;

	p {
		color: $primary-font-color;
		font-size: 2.4rem;
		font-weight: $font-weight-bold;
		text-align: center;
		padding: 39px 0 24px 0;
		@media only screen and (max-width: 1023px) {
	    	padding: 24px 0;
	    }
    	margin: 0;
    	float: left;
	}

	button {
		@include button-styles($button-background-color-transparent, $button-font-size-big, $button-border, $button-border-radius, $button-font-color, $button-width-medium);
    	padding: 10px 0;
    	margin: 24px 0 24px 0;
    	float: right;
	}
}

@media only screen and (max-width: 1023px) {
	.free-advise {
		height: auto;
		p {
			float: none;
			text-align: left;
		}
		button {
	    	width: 100%;
	    	float: none;
	    	margin: 0 0 40px 0;
		}
	}
}

.box-model {
	background-color: #222222;
	padding: 0px 50px;

	p {
		color: $primary-font-color;
		font-size: 3.2rem;
		font-weight: $font-weight-bold;
		text-align: center;
		padding: 212px 0 24px 0;
    	margin: 0;
	}

	button {
		@include button-styles($button-background-color-transparent, $button-font-size-big, $button-border, $button-border-radius, $button-font-color, $button-width-big);
    	padding: 10px 0;
    	margin: 0 0 205px 0;
    	left: 38%;
    	position: relative;
	}
	
}

@media only screen and (max-width: 1023px) {
	.box-model {
		height: auto;
		p {
			padding: 24px 0;
		}
		button {
	    	width: 100%;
	    	float: none;
	    	margin: 0 0 40px 0;
	    	left: 0;
		}
	}
}

@import "footer";